
<div class="content" >
        
        <!-- START OF SECT-LEFT -->
        <div class="sect-evangelism-left">
            <div class="section-header">
                <p class="sub-heading">
                    Evangelism
                </p>
                <span class="bold-title">
                    NEXT MISSION
                </span>
            </div>
            <div class="sect-more-details">
                <span class="location"><img src="../../../assets/images/iconPin.svg" alt="location" > Kimutwa Market</span>
                <span class="dates"><img src="../../../assets/images/iconCalendar.svg" alt="location" > 2nd December 2019 - 30th December 2019</span>
            </div>
            <span class="text-context">
                Every true disciple is born into the kingdom of God as a missionary. He who drinks of the living water becomes a fountain of life. The receiver becomes a giver. The grace of Christ in the soul is like a spring in the desert, welling up to refresh all, and making those who are ready to perish eager to drink of the water of life.—The Desire of Ages, 195. 
            </span>
            <div class="evangelism-buttons">
                <app-base-button 
                [styleType]="'white'" 
                [btnName]="'DONATE TO MPESA'" 
                class="btn-find-out">
                </app-base-button>
                <app-base-button 
                [styleType]="'white'" 
                [btnName]="'REGISTER TO PARTICIPATE'" 
                class="btn-find-out">
                </app-base-button>
            </div>
        </div>
        <!-----END OF SECT-LEFT------>

        <!-- START-RIGHT-SECTION -->
        <div class="sect-evangelism-right">
                
        </div>
        <!-- END OF SECT-RIGHT -->

    
    </div>
    