button{
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  width: 150px;
  font-weight: bold;
}
.primary, .white:hover{
  color: #ffffff;
  background: #2996f0;
}
.white,.primary:hover{
  color: #5d5d5d;
  background: #fff;
}