.sect-container{
  background-color: #F5F2F2;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  padding: 120px 0;
  .sect-cols{
    display: flex;
    flex-direction: column;
    }
  .image{
      width: 520px;
    }
  .text-sect{
    margin: 0 90px 0 0px;
    p{
      margin: 0 0px 20px 0;
    }
  }
}


.card{
  width: 280px;
  height: 220px;
  background: #072B33;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #F5F2F2;
  text-align: center;

  
}
.rsrc-component{
  display: flex;
  width: 100%;
}

.very-right{
  margin-right: 30px;
}