<div class="sect-container">
  <div class="sect-cols image">
    <img src="../../../assets/images/3angels.svg" alt="angels">
  </div>
  <div class="sect-cols text-sect">
    <p class="sub-heading">
      We have a mission to:
    </p>
    <span class="bold-title">
      Give hope to the Dying world Today
    </span>
    <span class="text-context">
      Welcome to Machakos University SDA Church. We Make disciples of Jesus Christ who live as His loving witnesses and
      proclaim to all people the everlasting gospel of the Three Angels’ Messages in preparation for His soon return (Matt
      28:18-20, Acts 1:8, Rev 14:6-12).
    </span>
    <app-base-button 
      [styleType]="'white'" 
      [btnName]="'FIND OUT'" 
      class="btn-find-out">
    </app-base-button>
  </div>
  <div class="sect-cols">
    <div class="card">

    </div>
    <div class="card"></div>
  </div>
</div>

