.section-header{
    padding: 120px 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.semi-bold-title{
    margin: 0 0 30px 0;
}