
<div class="content" role="main">
  <section class="landing-section">
    <div class="welcome-section">
      <h1 class="welcome-words">
        SHINING A LIGHT TO THE WORLD
      </h1>
      <p class="welcome-subtitle">welcome to Machakos University SDA CHURCH</p>
      
        <app-base-button 
        (clickEvent)="handleClick($event)" [styleType]="'primary'" [btnName]="'EXPLORE'"
        class="btn-section"
        ></app-base-button>

    </div>
    <div class="angels-section">
      <img src="/assets/images/3angels.png" alt="3 angels Flying">
    </div>
  </section>

</div>
