<div class="footer">
    <div class="footer-column">
        <span class="footer-column-header">Links</span>
        <ul>
            <li>Home</li>
            <li>Department</li>
            <li>Materials</li>
            <li>Sabbath School</li>
        </ul>
    </div>
    <div class="footer-column">
        <span class="footer-column-header">Participate</span>
        <ul>
            <li><a href="#">Mission Contribution</a></li>
            <li><a href="#">Mission Registration</a></li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Membership Transfer</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <span class="footer-column-header">More</span>
        <ul>
            <li><a href="#">Sabbath Schools</a></li>
            <li><a href="#">The Great Hope</a></li>
            <li><a href="#">SSQ Lesson Guide</a></li>
            <li><a href="#">Downloads</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <span class="footer-column-header">Contact Info</span>
        <ul>
            <li>Machakos University Off Wote Rd.</li>
            <li>P.O BOX 126-90100</li>
            <li>Machakos</li>
            <li><a href="mailto:info@sdamksu.com">info@sdamksu.com</a></li>
        </ul>
    </div>
</div>